extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Study Fast
    div.Message
      div.Title
        h3 Upload Study Notes
        h1 Convert to Text
    div.NavButtons
      a(href="/user")
          div.NavButton Go to Upload
